<footer>
    <div class="container">
        <div class="row">
            <h4>COMP 3073 Group Project, Winter 2013</h4>
        </div>
        <div class="row">
            <p>Jason Recillo</p>
            <p>Mellicent Dres</p>
            <p>Lincoln Earlls</p>
            <p>James Mackin</p>
        </div>
    </div>
</footer>