<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html"/>
    <link href="@Url.Content("~/assets/css/app.css?minify=0")" rel="stylesheet"></link>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"> </script>
    <script src="@Url.Content("~/assets/js/app.js?minify=0")"> </script>
</head>