@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

.box-shadow(@shadow) {
    -webkit-box-shadow : @shadow;
       -moz-box-shadow : @shadow;
        -ms-box-shadow : @shadow;
         -o-box-shadow : @shadow;
            box-shadow : @shadow;
}

@main-font: 'Open Sans', sans-serif;

* { font-family : @main-font; }

footer {
    background-color : #eeeeee;
    border-top       : 1px solid #cccccc;
    height           : 250px;
    margin-top       : 25px;
    padding-top      : 10px;
    text-align       : center;
}

textarea {
    font-family : @main-font;
}

.all-products-row {
    border-bottom  : 1px solid #eeeeee;
    margin-bottom  : 10px;
    padding-bottom : 10px;

    &:last-of-type {
        border-bottom : none;
    }

    img {
        padding-right : 10px;
    }
}

.product-name { margin-top : 0; }

.product-link { }

.product-price {
    border-left : 1px solid #cccccc;
    text-align  : right;

    h4 {
        padding-right : 10px;
    }
}

.home-product-info {
    height : 175px;

    img {
        padding-right : 10px;
    }
}

#login {
    margin-right : 3px;

    input[type='text'],
    input[type='password'] {
        width: 80px;
    }
}

#login-form {
    box-shadow : inset 0 1px 0 rgba(255,255,255,.6),
                 0 11px 70px -20px rgba(0, 0, 0, 0.26),
                 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#navbar-search {
    margin-left : 10px;
}

.product-table {
    label {
        height     : 100%;
        margin     : 0;
        text-align : center;
    }

    .up,
    .down,
    .updown {
        &:after {
            content      : ' ';
            width        : 9px;
            display      : block;
            float        : right;
            height       : 11px;
            margin-top   : 4px;
            margin-right : 4px;
        }
    }
    .updown:after { background-image : url("../img/updown.png"); }
    .down:after   { background-image : url("../img/down.png"); }
    .up:after     { background-image : url("../img/up.png"); }
        
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    .box-shadow(~'inset 0 0 2px rgba(0, 0, 0, 0.1)');
    background: #fff;
}

::-webkit-scrollbar-thumb {
    .box-shadow(~'inset 0 0 2px rgba(0, 0, 0, 0.2)');
    background: #ccc;

    &:active {
        .box-shadow(~'inset 0 0 2px rgba(0, 0, 0, 0.3)');
        background: #888;
    }
    &:hover { background:#aaa; }
}
