@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq
@using TheGateService.Endpoints
@using TheGateService.Extensions
@inherits ViewPage<TheGateService.Types.HomePage>

@{
    ViewBag.Title = "The Gate";
    Layout = "MainLayout";
    var products = ProductService.SampleProducts.Shuffle().ToList();
}

<h2>What's Hot</h2>
<div id="featuredCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#featuredCarousel" data-slide-to="1"></li>
        <li data-target="#featuredCarousel" data-slide-to="2"></li>
    </ol>
    @* Carousel items *@
    <div class="carousel-inner">
        @{ var featuredProducts = products.GetRange(0, 3); }
        @foreach (var p in featuredProducts) {
            <div class="item @(featuredProducts.IndexOf(p) == 0 ? "active" : "")">
                <a href="@Url.Content("~/products/{0}".F(p.Id))"><img src="http://placehold.it/700x500" alt=""/></a>
                <div class="carousel-caption">
                    <h4>@p.Name</h4>
                    <p>
                        @p.Description
                    </p>
                </div>
            </div>
        }
    </div>
    @* Carousel navigation *@
    <a class="carousel-control left" href="#featuredCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#featuredCarousel" data-slide="next">&rsaquo;</a>
</div>
@{ var moreProducts = products.GetRange(3, 6); }
@foreach (var p in moreProducts) {
    @* TODO: More products below carousel slideshow *@
}
@section ScriptFooter {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#featuredCarousel').carousel('cycle');
        })
    </script>
}