@using System
@using System.Collections
@using System.Collections.Generic
@using System.Linq

@{
    ViewBag.Title = "Log In";
    Layout = "MainLayoutNoSidebar";
    var errmsg = Session.Get<string>("Error-Message");
    string uname = null;
    if (errmsg != null) {
        var x = errmsg.Split(':');
        uname = x[0];
        errmsg = x[1];
        // If the error message is set, get its value and then clear it from the session
        Session.Set("Error-Message", (object) null);
    }
}

<div class="row-fluid">
    <div class="well span6 offset3" id="login-form">
        <form method="POST" 
              action="@Url.Content("~/Login?" + Request.QueryString)" 
              class="form-horizontal">
            <legend>Log in</legend>
            <div class="control-group">
                <label class="control-label" for="userName">Username</label>

                <div class="controls">
                    <input id="login-username"
                           type="text" 
                           name="userName" 
                           placeholder="Username"
                           value='@(uname ?? "")'/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>

                <div class="controls">
                    <input type="password"
                           name="password" 
                           placeholder="Password"/>
                </div>
            </div>
            <div class="form-actions">
                @if (errmsg != null) {
                    <div class="control-group error">
                        <span class="help-block">@errmsg</span>
                    </div>
                }
                <button type="submit" class="btn btn-info">Login</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() { $('#login-username').focus(); });
</script>